In [1]:
import numpy as np
import pandas as pd

In [2]:
!pwd

/Users/chenghao/ResearchHub/repos/udao-spark-optimizer/playground/assets/data_stats

In [5]:
def regroup(original_bounds, n=50):
    """
    Transform an n-sized equi-height histogram into a 50-bin equi-height histogram by interpolating within each bin,
    assuming each bin has an equal number of data points.
    
    Args:
    original_bounds (list): The boundaries of the original histogram bins.
    N (int): The desired number of bins in the new histogram (50 by default).
    
    Returns:
    tuple: Tuple containing the new bin boundaries.
    """
    # Determine the number of original bins
    m = len(original_bounds) - 1
    rate = n / m
    new_bounds = [0] * (n + 1)
    new_bounds[0] = original_bounds[0]
    j = 0 # original bin index
    for i in range(1, n):
        while (j + 1) * rate < i:
            j += 1
        offset = i - j * rate
        # print(f"i: {i}, j: {j}, offset: {offset}")
        new_bounds[i] = original_bounds[j] + offset / rate * (original_bounds[j + 1] - original_bounds[j])
    new_bounds[n] = original_bounds[-1]
    return new_bounds


# Example usage
original_bounds = [1, 3, 4, 5, 6, 8]
new_bounds = regroup(original_bounds, n = 10)
print("New Bounds:", new_bounds)
new_bounds = regroup(original_bounds, n = 2)
print("New Bounds:", new_bounds)
new_bounds = regroup(original_bounds, n = 3)
print("New Bounds:", new_bounds)

New Bounds: [1, 2.0, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 7.0, 8]
New Bounds: [1, 4.5, 8]
New Bounds: [1, 3.666666666666667, 5.333333333333334, 8]

In [6]:
from datetime import datetime

def days_since_epoch(date_str):
    """
    Calculate the number of days from January 1, 1970, to the given date.
    
    Args:
    date_str (str): Date in "yyyy-mm-dd" format.
    
    Returns:
    int: Number of days between 1970-01-01 and the given date.
    """
    epoch_start = datetime(1970, 1, 1)
    given_date = datetime.strptime(date_str, '%Y-%m-%d')
    
    # Calculate the difference in days
    delta = given_date - epoch_start
    return delta.days

def regroup_to_50(dtype, bins_str, distinct_count):
    if distinct_count == 1 or bins_str == "[]":
        return [0.0] * 51
    if dtype == "date":
        bins = list(map(days_since_epoch, bins_str[1:-1].split(", ")))
    else:
        bins = list(map(float, bins_str[1:-1].split(", ")))
    
    if distinct_count < 51:
        ret_bins = bins 
        while len(ret_bins) < 51:
            ret_bins += bins
        ret_bins = sorted(ret_bins[:51])
        return ret_bins
        
    return regroup(bins, n=50)

,table,column,dtype,bins,distinct_count,hists
0,customer,c_custkey,bigint,"[1.0, 58629.0, 117724.0, 176935.0, 235656.0, 2...",13828764,"[1.0, 299788.16, 599683.48, 899274.1599999999,..."
1,customer,c_name,string,[],15000000,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,customer,c_address,string,[],15000000,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,customer,c_nationkey,bigint,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",25,"[0.0, 0.0, 0.0, 1.0, 1.0, 2.0, 2.0, 3.0, 3.0, ..."
4,customer,c_phone,string,[],15000000,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

For TPCH

In [3]:
# Load data
bm = "tpch"
df = pd.read_csv(f"raw_{bm}_hist.csv")

# Regroup data
df["hists"] = df[["dtype", "bins", "distinct_count"]].apply(lambda x: regroup_to_50(x["dtype"], x["bins"], x["distinct_count"]), axis=1)
df.to_csv(f"regrouped_{bm}_hist.csv", index=False)
df.head()

,table,column,dtype,bins,distinct_count
0,customer,c_custkey,bigint,"[1.0, 58629.0, 117724.0, 176935.0, 235656.0, 2...",13828764
1,customer,c_name,string,[],15000000
2,customer,c_address,string,[],15000000
3,customer,c_nationkey,bigint,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",25
4,customer,c_phone,string,[],15000000

For TPCDS

In [84]:
# Load data
bm = "tpcds"
df = pd.read_csv(f"raw_{bm}_hist.csv")
# Regroup data
df["hists"] = df[["dtype", "bins", "distinct_count"]].apply(lambda x: regroup_to_50(x["dtype"], x["bins"], x["distinct_count"]), axis=1)
df.to_csv(f"regrouped_{bm}_hist.csv", index=False)

In [77]:
df[df.column == "d_date"]["bins"].values[0]

'[1900-01-02, 1900-10-17, 1901-08-01, 1902-05-07, 1903-02-19, 1903-12-04, 1904-09-17, 1905-07-02, 1906-04-16, 1907-01-29, 1907-11-13, 1908-08-27, 1909-06-11, 1910-03-26, 1911-01-08, 1911-10-23, 1912-08-06, 1913-05-21, 1914-03-01, 1914-12-14, 1915-09-28, 1916-07-12, 1917-04-26, 1918-02-08, 1918-11-23, 1919-09-07, 1920-06-21, 1921-04-05, 1922-01-18, 1922-11-02, 1923-08-17, 1924-05-31, 1925-03-15, 1925-12-20, 1926-10-04, 1927-07-18, 1928-05-07, 1929-02-18, 1929-12-02, 1930-09-15, 1931-06-29, 1932-04-11, 1933-01-23, 1933-11-06, 1934-08-20, 1935-06-03, 1936-03-16, 1936-12-28, 1937-10-18, 1938-08-01, 1939-05-15, 1940-02-26, 1940-12-09, 1941-09-23, 1942-07-08, 1943-04-22, 1944-02-04, 1944-11-12, 1945-08-27, 1946-06-11, 1947-03-26, 1948-01-08, 1948-10-22, 1949-08-06, 1950-05-21, 1951-03-05, 1951-12-18, 1952-10-01, 1953-07-16, 1954-04-30, 1955-02-10, 1955-11-27, 1956-09-12, 1957-06-19, 1958-04-05, 1959-01-20, 1959-11-06, 1960-08-12, 1961-05-29, 1962-03-15, 1962-12-30, 1963-10-16, 1964-07-22, 1965-05-08, 1966-02-22, 1966-12-09, 1967-09-15, 1968-06-27, 1969-04-11, 1970-01-24, 1970-11-08, 1971-08-23, 1972-06-06, 1973-03-21, 1974-01-03, 1974-10-18, 1975-08-02, 1976-05-16, 1977-02-28, 1977-12-13, 1978-09-27, 1979-07-12, 1980-04-25, 1981-02-07, 1981-11-22, 1982-09-04, 1983-06-19, 1984-03-27, 1985-01-09, 1985-10-24, 1986-08-08, 1987-05-23, 1988-03-06, 1988-12-19, 1989-10-03, 1990-07-18, 1991-05-02, 1992-02-14, 1992-11-28, 1993-09-12, 1994-06-27, 1995-04-05, 1996-01-23, 1996-11-06, 1997-08-15, 1998-05-30, 1999-03-14, 1999-12-27, 2000-10-10, 2001-07-25, 2002-05-09, 2003-02-21, 2003-12-06, 2004-09-19, 2005-07-04, 2006-04-18, 2007-01-31, 2007-11-15, 2008-08-29, 2009-06-07, 2010-03-27, 2011-01-03, 2011-10-18, 2012-08-01, 2013-05-16, 2014-02-28, 2014-12-13, 2015-09-27, 2016-07-11, 2017-04-25, 2018-02-07, 2018-11-22, 2019-09-06, 2020-06-20, 2021-04-04, 2022-01-17, 2022-10-26, 2023-08-10, 2024-05-26, 2025-03-07, 2025-12-22, 2026-10-03, 2027-07-20, 2028-04-30, 2029-02-14, 2029-12-01, 2030-09-12, 2031-06-29, 2032-04-09, 2033-01-24, 2033-11-05, 2034-08-22, 2035-06-03, 2036-03-19, 2036-12-31, 2037-10-15, 2038-07-26, 2039-05-10, 2040-02-22, 2040-12-06, 2041-09-20, 2042-07-05, 2043-04-19, 2044-02-01, 2044-11-15, 2045-08-26, 2046-06-10, 2047-03-25, 2048-01-07, 2048-10-21, 2049-08-05, 2050-05-20, 2051-03-04, 2051-12-14, 2052-09-27, 2053-07-12, 2054-04-26, 2055-02-08, 2055-11-23, 2056-09-06, 2057-06-18, 2058-04-02, 2059-01-15, 2059-10-30, 2060-08-13, 2061-05-28, 2062-03-12, 2062-12-25, 2063-10-06, 2064-07-20, 2065-05-04, 2066-02-16, 2066-12-01, 2067-09-13, 2068-06-27, 2069-04-11, 2070-01-24, 2070-11-08, 2071-08-21, 2072-06-04, 2073-03-19, 2074-01-01, 2074-10-14, 2075-07-29, 2076-05-12, 2077-02-24, 2077-12-09, 2078-09-21, 2079-07-06, 2080-04-19, 2081-01-31, 2081-11-15, 2082-08-29, 2083-06-13, 2084-03-27, 2085-01-08, 2085-10-23, 2086-08-06, 2087-05-21, 2088-03-04, 2088-12-16, 2089-09-30, 2090-07-14, 2091-04-28, 2092-02-10, 2092-11-23, 2093-09-07, 2094-06-21, 2095-04-05, 2096-01-18, 2096-10-31, 2097-08-15, 2098-05-29, 2099-03-13, 2100-01-01]'

For JOB

In [7]:
# Load data
bm = "job"
df = pd.read_csv(f"raw_{bm}_hist.csv")
# Regroup data
df["hists"] = df[["dtype", "bins", "distinct_count"]].apply(lambda x: regroup_to_50(x["dtype"], x["bins"], x["distinct_count"]), axis=1)
df.to_csv(f"regrouped_{bm}_hist.csv", index=False)

In [12]:
df[df.dtype != "string"]

,table,column,dtype,bins,distinct_count,hists
0,aka_name,id,int,"[1.0, 3511.0, 7132.0, 10626.0, 14210.0, 17682....",861761,"[1.0, 17971.68, 36049.32, 54071.439999999995, ..."
1,aka_name,person_id,int,"[4.0, 16885.0, 33218.0, 49812.0, 66344.0, 8352...",621158,"[4.0, 84817.95999999999, 165829.19999999998, 2..."
8,aka_title,id,int,"[1.0, 1571.0, 3218.0, 4866.0, 6427.0, 7942.0, ...",361472,"[1.0, 8068.96, 16293.84, 24230.96, 31832.52, 3..."
9,aka_title,movie_id,int,"[0.0, 97178.0, 186882.0, 303896.0, 408440.0, 5...",193791,"[0.0, 535126.4, 999935.76, 1527547.0, 1653508...."
12,aka_title,kind_id,int,"[1.0, 2.0, 3.0, 4.0, 6.0, 7.0]",6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
13,aka_title,production_year,int,"[1888.0, 1900.0, 1903.0, 1907.0, 1909.0, 1910....",128,"[1888.0, 1903.16, 1909.08, 1911.12, 1913.16, 1..."
15,aka_title,episode_of_id,int,"[10.0, 187.0, 432.0, 465.0, 550.0, 776.0, 1002...",747,"[10.0, 514.3000000000001, 1106.16, 1479.06, 20..."
16,aka_title,season_nr,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",41,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, ..."
17,aka_title,episode_nr,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",165,"[1.0, 2.18, 3.3600000000000003, 4.54, 5.720000..."
20,cast_info,id,int,"[1.0, 143253.0, 284549.0, 425258.0, 568988.0, ...",36244344,"[1.0, 727645.76, 1448967.96, 2172776.4, 289901..."
21,cast_info,person_id,int,"[1.0, 17423.0, 33148.0, 48308.0, 61310.0, 7577...",3914944,"[1.0, 76880.0, 145283.8, 212995.75999999998, 2..."
22,cast_info,movie_id,int,"[1.0, 9102.0, 21339.0, 30867.0, 44050.0, 54347...",2209537,"[1.0, 55126.2, 105834.92, 160764.47999999998, ..."
23,cast_info,person_role_id,int,"[1.0, 14.0, 53.0, 68.0, 163.0, 255.0, 335.0, 4...",2868456,"[1.0, 205.32, 526.16, 1007.1800000000001, 1656..."
25,cast_info,nr_order,int,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",1098,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ..."
26,cast_info,role_id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",11,"[1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, ..."
27,char_name,id,int,"[1.0, 12357.0, 24804.0, 37309.0, 49441.0, 6174...",2868456,"[1.0, 62746.64, 125499.8, 188325.4, 251163.96,..."
30,char_name,imdb_id,int,[],0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
34,comp_cast_type,id,int,"[1.0, 2.0, 3.0, 4.0]",4,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
36,company_name,id,int,"[1.0, 923.0, 1843.0, 2775.0, 3696.0, 4618.0, 5...",234997,"[1.0, 4692.4, 9385.68, 14098.76, 18786.28, 234..."
39,company_name,imdb_id,int,[],0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
43,company_type,id,int,"[1.0, 2.0, 3.0, 4.0]",4,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
45,complete_cast,id,int,"[1.0, 532.0, 1054.0, 1594.0, 2116.0, 2656.0, 3...",131728,"[1.0, 2697.7599999999998, 5400.48, 8098.719999..."
46,complete_cast,movie_id,int,"[285.0, 11233.0, 29102.0, 51417.0, 52935.0, 59...",89080,"[285.0, 62883.399999999994, 173824.19999999998..."
47,complete_cast,subject_id,int,"[1.0, 2.0]",2,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
48,complete_cast,status_id,int,"[3.0, 4.0]",2,"[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, ..."
49,info_type,id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",113,"[1.0, 3.2399999999999998, 5.4799999999999995, ..."
51,keyword,id,int,"[1.0, 532.0, 1054.0, 1576.0, 2116.0, 2638.0, 3...",129542,"[1.0, 2679.7599999999998, 5368.48, 8050.719999..."
54,kind_type,id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]",7,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, ..."
56,link_type,id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",18,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, ..."
58,movie_companies,id,int,"[1.0, 10199.0, 20723.0, 30793.0, 40844.0, 5121...",2473720,"[1.0, 52034.88, 104300.8, 156347.8, 208524.919..."
59,movie_companies,movie_id,int,"[2.0, 17247.0, 40764.0, 55482.0, 81191.0, 1039...",1015958,"[2.0, 106020.8, 193174.72, 295552.72, 376871.3..."
60,movie_companies,company_id,int,"[1.0, 6.0, 11.0, 12.0, 19.0, 21.0, 27.0, 31.0,...",247602,"[1.0, 20.64, 49.839999999999996, 103.119999999..."
61,movie_companies,company_type_id,int,"[1.0, 2.0]",2,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
63,movie_info,id,int,"[1.0, 57875.0, 116475.0, 173806.0, 232528.0, 2...",14387898,"[1.0, 296458.6, 592893.52, 889920.6, 1186566.2..."
64,movie_info,movie_id,int,"[1.0, 21505.0, 45125.0, 61308.0, 86952.0, 1092...",2323501,"[1.0, 111105.76, 215054.88, 315042.32, 428899...."
65,movie_info,info_type_id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",72,"[1.0, 1.52, 2.04, 2.56, 3.08, 3.6, 4.12, 4.64,..."
68,movie_info_idx,id,int,"[1.0, 5300.0, 10899.0, 16164.0, 21638.0, 27182...",1288547,"[1.0, 27612.0, 55209.439999999995, 82741.31999..."
69,movie_info_idx,movie_id,int,"[2.0, 12193.0, 32362.0, 51475.0, 67478.0, 7926...",460163,"[2.0, 80957.23999999999, 164698.91999999998, 2..."
70,movie_info_idx,info_type_id,int,"[99.0, 100.0, 101.0, 113.0]",5,"[99.0, 99.0, 99.0, 99.0, 99.0, 99.0, 99.0, 99...."
73,movie_keyword,id,int,"[1.0, 17388.0, 35605.0, 53088.0, 71248.0, 8876...",4363342,"[1.0, 90190.36, 181046.96, 271233.6, 361663.0,..."
74,movie_keyword,movie_id,int,"[2.0, 37545.0, 73573.0, 104761.0, 139059.0, 17...",499523,"[2.0, 174556.84, 320453.27999999997, 512148.75..."
75,movie_keyword,keyword_id,int,"[1.0, 3.0, 42.0, 52.0, 62.0, 76.0, 107.0, 117....",129542,"[1.0, 74.6, 140.2, 242.29999999999998, 342.2, ..."
76,movie_link,id,int,"[1.0, 118.0, 238.0, 353.0, 473.0, 588.0, 708.0...",27196,"[1.0, 597.6, 1197.2, 1800.6, 2399.799999999999..."
77,movie_link,movie_id,int,"[2.0, 619.0, 1549.0, 2652.0, 4440.0, 5891.0, 6...",6111,"[2.0, 5687.86, 7323.04, 7362.06, 8741.16, 1112..."
78,movie_link,linked_movie_id,int,"[284.0, 5952.0, 8054.0, 13847.0, 19086.0, 2825...",15879,"[284.0, 29919.679999999997, 77408.64, 129364.9..."
79,movie_link,link_type_id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",16,"[1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 3.0, ..."
80,name,id,int,"[1.0, 16614.0, 32488.0, 48935.0, 65483.0, 8182...",3991355,"[1.0, 83172.68, 166686.08, 250123.4, 333401.24..."
83,name,imdb_id,int,[],0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
89,person_info,id,int,"[1.0, 11618.0, 23409.0, 34838.0, 46476.0, 5812...",2719575,"[1.0, 59060.84, 118328.48, 177579.8, 237005.08..."
90,person_info,person_id,int,"[4.0, 13069.0, 28972.0, 41705.0, 55688.0, 6806...",536185,"[4.0, 69137.68, 131205.28, 189417.44, 246026.5..."
91,person_info,info_type_id,int,"[15.0, 17.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24....",21,"[15.0, 15.0, 15.0, 17.0, 17.0, 17.0, 19.0, 19...."
94,role_type,id,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",12,"[1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, ..."
96,title,id,int,"[1.0, 9848.0, 19990.0, 29683.0, 39813.0, 49912...",2377099,"[1.0, 50697.84, 101080.76, 151838.32, 202248.4..."
99,title,kind_id,int,"[1.0, 2.0, 3.0, 4.0, 6.0, 7.0]",6,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
100,title,production_year,int,"[1880.0, 1902.0, 1908.0, 1910.0, 1912.0, 1913....",133,"[1880.0, 1905.48, 1910.32, 1912.74, 1914.64, 1..."
101,title,imdb_id,int,[],0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
103,title,episode_of_id,int,"[2.0, 6697.0, 12994.0, 19437.0, 25952.0, 32442...",54107,"[2.0, 32831.46, 65340.32, 97756.94, 130218.6, ..."
104,title,season_nr,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",95,"[1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, ..."
105,title,episode_nr,int,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",14925,"[1.0, 2.92, 4.84, 6.76, 8.68, 10.6, 12.52, 14...."